services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama_server
    volumes:
      - ollama_data:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  rlm_app:
    build: .
    container_name: rlm_executor
    depends_on:
      - ollama
    env_file:
      - .env
    #environment:
    #  - OLLAMA_HOST=http://ollama_server:11434
    volumes:
      - .:/app

volumes:
  ollama_data:
